[Desktop Entry]
Version=1.0
Type=Application
Name=ABRIR DMR2M17
Comment=
Exec=sh -c 'cd /home/pi/B108/; sleep 20;xterm -geometry 88x17+1272+664 -bg black -fg white -fa 'Verdana' -fs 9x -T MMDVMDMR2M17 -e sudo sh ejecutar_DMR2M17.sh'
Icon=/home/pi/B108/ICONO_M17_OFF.png
Path=/home/pi/B108
Terminal=false
StartupNotify=false