[Desktop Entry]
Version=1.0
Type=Application
Name=Dvrptr
Comment=EA3EIZ
Exec=sh -c 'cd /home/pi/B108;sleep 20; sudo sh ejecutar_dvrptr.sh'
Icon=/home/pi/B108/ICONO_DVRPTR_OFF.png
Path=/home/pi/V10
Terminal=false
StartupNotify=false
Name[es_ES]=Abrir Dvrptr
