[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/B108/;sleep 20;xterm -geometry 88x17+648+664 -bg black -fg white -fa 'Verdana' -fs 9x -T DMR2YSF -e sudo sh ejecutar_DMR2YSF.sh'
Icon=/home/pi/B108/ICONO_DMR2YSF_OFF.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Abrir DMR2YSF
Hidden=false
Comment[es_ES]=EA3EIZ
